{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Book Appointment</title>{% endblock title %}
{% block cssfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href= {% static "accounts/css/font-awesome.min.css" %} >
    <link rel="stylesheet" type="text/css" href= {% static "accounts/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href=" {% static 'accounts/css/style.css' %}" />
    <link rel="stylesheet" href=" {% static 'accounts/css/home_page.css' %}">
{% endblock cssfiles %}


{% block body %}
    <section id="banner" class="banner">
        <div class="bg-color">
          <nav class="navbar navbar-default navbar-fixed-top" id="myNav">
            <div class="container">
              <div class="col-md-0">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#"><img src=" {% static 'accounts/images/medico_care.png' %} " class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                  <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class=""><a href=" {% url 'home-page' pk %} ">Home</a></li>
                        <li class=""><a href="#service">Services</a></li>
                        <li class=""><a href="#about">About</a></li>
                        <li class=""><a href="#testimonial">Testimonial</a></li>
                        <li class=""><a href="#contact">Contact</a></li>
                        <li style="margin-left: 140px;" ><a href="" disabled>Welcome,  {{user_data}}</a></li>
                    </ul>
                </div>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <a href="#"><img style="border-radius: 50%; padding-top: 10px; width: 40px;" id="img2" src=" {{user_data.profile_image.url}} " alt="img"></a>
                    
                    <div class="sidebar" id="side">
                        <a href="#"><img id="cross" src=" {% static 'accounts/images/cross.png' %}" alt="img" width="20px"></a>
                        <a href=" {% url 'profile' pk %} " id="fa"><i class="fa fa-fw fa-user"></i>Profile</a>
                        {% if user_model.usertype == "doctor" %}
                        <a href=" {% url 'set-slots' pk %} " id="fa"><i class="fa fa-calendar"></i> Set My Slot</a>
                        {% else %}
                        <a href=" " id="fa"><i class="fa fa-calendar"></i> My Appointments</a>
                        {% endif %}
                        <a href="#" id="fa"><i class="fa fa-fw fa-wrench"></i>Settings</a>
                        <a href="{% url 'logout-page' %}" id="fa"><i class="glyphicon glyphicon-log-out"></i>Logout</a>
                    </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>

    <div class="slot-box">
        {% if user_model.usertype == "doctor" %}
            <h1>Set Your Slot</h1>
        {% else %}
            <h1>Book Your Appointment</h1>
        {% endif %}

      {% if errors %}
        <h4 style="color:red;">{{errors}}</h4>


      {% else %}

      {% if user_model.usertype == "patient" %}

            {% if available_dates %}
            <form method="POST" id="form">
                {% csrf_token %}
                <label for="date">Date</label>
                <select name="date" id="date">
                    {% if clicked_date %}
                        <option value="{{clicked_date}}">{{clicked_date}} Selected</option>
                        {% else %}
                        <option value=""></option>
                    {% endif %}
                    {% for date  in available_dates %}
                        <p>{{date}}</p>
                        {% if clicked_date != date.date %}
                            <option onclick="changeSlots(this)" value="{{date}}">{{date}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
            {% endif %}
        <form method="POST" action=" {% url 'save-appointment' pk doctor user_data.id %} ">
            {% csrf_token %}
            {% if available_timings %}
                <label for="time">Time</label>
                <select name="time" id="time">
                    {% for time in available_timings %}
                        <option value="{{time}}">{{time}}</option>
                    {% endfor %}
                </select>
            {% endif %}
            <label for="appointment-type">Appointment Type</label>
                {% for type in appointment_type %}
                    {{type}}
                {% endfor %}
            <br>
            <br>
            <div>
                <input type="submit" value="Submit">
            </div>
            
        </form>
        
        
    {% else %}
        <form id="slot-form" action=" {% url 'set-slots' pk %} " method="POST">
            {% csrf_token %}
            <label for="date">Choose Date</label>
            <input name="date" type="date" id="date" value="{{date}}">
{% comment %}             
            <p id="time-div">
                <label id="time-label" for="time">Choose Timings</label>
                <label for="time-{{1}}">Timing-1</label>
                <input type="time" id="time-{{1}}" name="time-{{1}}"  onchange="addTime()">
            </p>  {% endcomment %}
            <label for="time">Choose Timings</label>
            <input type="time" name="time" id="time">
            {% comment %} <p id="time-label"></p> {% endcomment %}


            
            <input type="submit" value="Submit">
        </form>
        {% endif %}
        
        {% endif %}
    </div>
{% endblock body %}
        
        {% block jsfiles %}
        <script src=" {% static 'accounts/js/book_appointment.js' %} "></script>
        <script src=" {% static 'accounts/js/home_page.js' %} "></script>
        {% endblock jsfiles %}
