{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Login</title>{% endblock title %}

{% block cssfiles %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href= {% static "accounts/css/font-awesome.min.css" %} >
  <link rel="stylesheet" type="text/css" href= {% static "accounts/css/bootstrap.min.css" %}>
  <link rel="stylesheet" href=" {% static 'accounts/css/style.css' %} " />
{% endblock cssfiles %}
  


{% block body %}
<section id="banner" class="banner">
        <div class="bg-color">
          <nav class="navbar navbar-default navbar-fixed-top" id="myNav">
            <div class="container">
              <div class="col-md-12">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#"><img src=" {% static 'accounts/images/medico_care.png' %} " class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                  <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class=""><a href=" {% url 'index-page' %} ">Home</a></li>
                        <li class=""><a href="#service">Services</a></li>
                        <li class=""><a href="#about">About</a></li>
                        <li class=""><a href="#testimonial">Testimonial</a></li>
                        <li class=""><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>


<div class="login-box">
      <h1>Login</h1>
      
      {% if messages %}
       <center><h3 style="color:red;"> {{messages}} </h3></center> 
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        
        <label for="usertype">Usertype</label>
        <select name="usertype" id="usertype">
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
        </select>

        <label for="username">Username</label>
        <input type="text" placeholder="" name="username" id="username"/>
        <label for="password">Password</label>
        <input type="password" placeholder="" name="password" id="password" />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <p class="para-2">
      Not have an account? <a href=" {% url 'signup-page' %} ">Sign Up Here</a>
    </p>
{% endblock body %}

