{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Login</title>{% endblock title %}
  
{% block cssfiles %}
  <link rel="stylesheet" href=" {% static 'accounts/css/style.css' %} " />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
{% endblock cssfiles %}
  


{% block body %}
<div class="login-box">
      <h1>Login</h1>
      
      {% if messages %}
       <center><h3 style="color:red;"> {{messages}} </h3></center> 
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        
        <label for="usertype">Usertype</label>
        <select name="usertype" id="usertype">
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
        </select>

        <label for="username">Username</label>
        <input type="text" placeholder="" name="username" id="username"/>
        <label for="password">Password</label>
        <input type="password" placeholder="" name="password" id="password" />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <p class="para-2">
      Not have an account? <a href=" {% url 'signup-page' %} ">Sign Up Here</a>
    </p>
{% endblock body %}

