{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Sign Up</title>{% endblock title %}

{% block cssfiles %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href= {% static "accounts/css/font-awesome.min.css" %} >
  <link rel="stylesheet" type="text/css" href= {% static "accounts/css/bootstrap.min.css" %}>
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %} " />
{% endblock cssfiles %}
    
{% block body %}
<section id="banner" class="banner">
        <div class="bg-color">
          <nav class="navbar navbar-default navbar-fixed-top" id="myNav">
            <div class="container">
              <div class="col-md-12">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#"><img src=" {% static 'accounts/images/medico_care.png' %} " class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                  <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class=""><a href=" {% url 'index-page' %} ">Home</a></li>
                        <li class=""><a href="#service">Services</a></li>
                        <li class=""><a href="#about">About</a></li>
                        <li class=""><a href="#testimonial">Testimonial</a></li>
                        <li class=""><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>

      
<div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      {% if message %}
        <h4 style="color:red;">{{message}}</h4>
      {% endif %}
      <form method="POST">
        {% csrf_token %}

        {% comment %} <label for="usertype">User Type</label> {% endcomment %}
        <label for="usertype">Usertype</label>
        <select name="usertype" id="usertype">
            <option value="patient">Patient</option>
            <option value="doctor">Doctor</option>
        </select>

        

        <label for="username">UserName</label>
        <input name ="username" id="username" type="text">

        <label for="firstname">First Name</label>
        <input name ="firstname" id="firstname" type="text">

        {% comment %} <label for="middlename">Middle Name</label>
        <input name ="middlename" id="middlename" type="text"> {% endcomment %}

        <label for="lastname">Last Name</label>
        <input name ="lastname" id="lastname" type="text">

        <label for="mobileNo">Contact Number</label>
        <input name ="mobileNo" id="mobileNo" type="text">

        <label for="email">Email</label>
        <input name ="email" id="email" type="email">

        <label for="password">Password</label>
        <input name ="password" id="password" type="password">

        <label for="password1">Confirm Password</label>
        <input name ="password1" id="password1" type="password">

        <label for="gender">Gender</label>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="transgender">Transgender</option>
        </select>
        <span style="visibility:hidden;" id="specialist">
          <label for="specialist">Specialist</label>
          {% for specialist in specialists %}
            {{specialist}}
          {% endfor %}
        </span>
       
        <input type="submit" value="Submit" />
      </form>

      <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>

    </div>


    <p class="para-2">
      Already have an account? <a href=" {% url 'login-page' %} ">Login here</a>
    </p>

    <script src=" {% static 'accounts/js/signup.js' %} "></script>
{% endblock body %}
