{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href=" {% static 'css/index.css' %} "> {% endcomment %}
    {% block cssfiles %}{% endblock cssfiles %}

    {% block title %}{% endblock title %}

</head>
<body>
    

  {% block body %}{% endblock body %}
  {% block jsfiles %}{% endblock jsfiles %}
</body>
</html>